
.title {
  color: #1f1919;
  margin: 0;
  text-shadow:0 0 0.2em #fff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 20px;
  padding: 40px 0;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    padding: 20px 0;
  }
}