.container-joke {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.content-joke {
  max-width: 800px; 
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  margin-bottom: 40px;
  padding: 60px 0;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .content-joke{
    padding: 30px 0;
  }
}

.text-jokes {
  font-size: 30px;
  text-shadow: -1px 0 #BABABA, 0 1px #BABABA,
  1px 0 #BABABA, 0 -1px #BABABA;
}

@media screen and (max-width: 600px) {
  .text-jokes {
    font-size: 20px;
    padding: 10px 0;
  }
}

.button-jokes {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgb(185, 51, 10);
  padding: 30px;
  outline: none; 
  cursor: pointer;
  z-index: 2;

  text-shadow: 0px 1px 0px #000;  
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.button-jokes:active {
  top: 10px;
  background-color: rgb(197, 28, 28);
  border: solid #C68D23 5px;
  
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button-jokes:focus {
  outline: none;
  box-shadow: 0 0 0 3 #F78900;
}